.imagecontainer{
    width: 350px;
    height: 400px;
    margin: 0 auto;
}
.album{
    width: 350px;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.images{
    width: 350px;
    height: 350px;
    position: relative;
    display: flex;
}

.feedimage{
    width: 350px;
    height: 350px;
    position: relative;
    display: flex;
}

.mainthumbnailimageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainthumbnailimage{
    width: 450px;
    height: 450px;
}

.thumbnailimage{
    width: 162px;
    height: 162px;
    position: relative;
    display: flex;
    border-radius: 15%;
    object-fit: contain;
    object-position: center;
}

button, button:active, button:focus{
    width: 100px; height: 30px;
    border: none;
    color: white;
    background-color: teal;
    outline: none;
}
button:hover{
    background-color: turquoise;
}
button:disabled{
    background-color: gray;
}
.prev{
    float: left;
}
.next{
    float: right;
}